body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    color: #333;
}

header {
    background-color: #FFB900; /* Brighter yellow */
    color: white;
    padding: 3px 20px; /* Reduced padding for even smaller header */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header img {
    width: 120px; /* Adjusted to stretch logo slightly */
    height: auto;
}

header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

header nav li {
    margin-right: 20px;
}

header nav a {
    color: white;
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
}

header nav a:hover {
    background-color: #FF9F00; /* Slightly darker yellow on hover */
}

.container {
    width: 90%;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.centered-text {
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.form-group {
    display: flex;
    align-items: center;
}

.form-group label {
    flex: 0 0 150px; /* Adjust the width as needed */
    text-align: right;
    margin-right: 10px;
}

.form-group input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.button-container {
    display: flex;
    justify-content: center;
}

.validate-button {
    background-color: #FFB900; /* Brighter yellow for button */
    color: white;
    padding: 15px 30px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    text-transform: uppercase;
    text-align: center;
}

.tagline {
    text-align: center;
    font-size: 14px;
    color: #777;
    margin-top: 20px;
}
